.avatar-cast {
  width: 75px;
  height: 75px;
  margin-right: 10px;
}
.mat-grid-tile {
  border: solid 2px #ffffff;
}

.mat-card {
  border: solid 2px #ffffff;
}

.content-credits {
  max-height: 200px !important;
  min-height: 200px !important;
  border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}

.credit {
  height: auto;
}
